@model JobBagOverview
@{
    ViewData["Title"] = "JobBagOverview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Job Bag Overviewy</h1>
<div class="row" style="margin:50px;">
    <div class="col-md-2">
        <select class="form-control" id="Technology" name="Technology">
            <option>Select Technology</option>
            @if (Model.Technologies != null)
            {
                foreach (var item in Model.Technologies)
                {
                    <option value="@item.TechnologyId">@item.TechnologyName</option>
                }
            }
        </select>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
        <select class="form-control" id="Machine" name="Machine">
            <option>Select Machine</option>
            @if (Model.Technologies != null)
            {
                @foreach (var item in Model.Machines)
                {
                    <option value="@item.MachineId">@item.MachineName</option>
                }
            }
        </select>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
        <select class="form-control" id="Lot" name="Lot">
            <option>Select Lot</option>
            @if (Model.Technologies != null)
            {
                @foreach (var item in Model.Lots)
                {
                    <option value="@item.LotId">@item.LotName</option>
                }
            }
        </select>
    </div>
    <div class="col-md-2">
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <h3>Master Data</h3>
    </div>
    <div class="col-md-4">
        <h3>Additional Information</h3>
    </div>
    <div class="col-md-4">
        <h3>Primary Materials</h3>
    </div>
</div>
<br />
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="ProductName" class="control-label">ProductName</label>
                    </div>
                    <div class="col-sm-6">
                        <input id="ProductName" type="text" class="form-control" />
                    </div>
                </div>


            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="Des" class="control-label">Description</label>
                    </div>
                    <div class="col-sm-6">
                        <input id="Des" type="text" class="form-control" />
                    </div>
                </div>


            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="Tol" class="control-label">Tool</label>
                    </div>
                    <div class="col-sm-6">
                        <input id="Tol" type="text" class="form-control" />
                    </div>
                </div>


            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="Cav" class="control-label">Cavities</label>
                    </div>
                    <div class="col-sm-6">
                        <input id="Cav" type="number" class="form-control" />
                    </div>
                </div>


            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="Rtq" class="control-label">Run To Quarantine</label>
                    </div>
                    <div class="col-sm-2">
                        <input id="Rtq" type="checkbox" class="form-control" />
                    </div>
                </div>

            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="Fut" class="control-label">Functional Testing</label>
                    </div>
                    <div class="col-sm-2">
                        <input id="Fut" type="checkbox" class="form-control" />
                    </div>
                </div>


            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="Sts" class="control-label">Stratified Samples</label>
                    </div>
                    <div class="col-sm-2">
                        <input id="Sts" type="checkbox" class="form-control" />
                    </div>
                </div>


            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="Ens" class="control-label">Enhanced Sampling</label>
                    </div>
                    <div class="col-sm-2">
                        <input id="Ens" type="checkbox" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="P1" class="control-label">Polymer 1</label>
                    </div>
                    <div class="col-sm-4">
                        <input id="P1" type="text" class="form-control" />
                    </div>
                    <div class="col-sm-4">
                        <input id="P1q" type="number" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="P2" class="control-label">Polymer 2</label>
                    </div>
                    <div class="col-sm-4">
                        <input id="P2" type="text" class="form-control" />
                    </div>
                    <div class="col-sm-4">
                        <input id="P2q" type="number" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="Mb" class="control-label">Masterbatch</label>
                    </div>
                    <div class="col-sm-4">
                        <input id="Mb" type="text" class="form-control" />
                    </div>
                    <div class="col-sm-4">
                        <input id="Mbq" type="number" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="Sa" class="control-label">Slip Additive</label>
                    </div>
                    <div class="col-sm-4">
                        <input id="Sa" type="text" class="form-control" />
                    </div>
                    <div class="col-sm-4">
                        <input id="Saq" type="number" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <h3>Run Data</h3>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <h3>Packaging Materials</h3>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="Loq" class="control-label">Lot Size</label>
                    </div>
                    <div class="col-sm-6">
                        <input id="Loq" type="number" class="form-control" />
                    </div>
                </div>


            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="Cph" class="control-label">Cartons / Hour</label>
                    </div>
                    <div class="col-sm-6">
                        <input id="Cph" type="number" class="form-control" />
                    </div>
                </div>


            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="Pps" class="control-label">Pallets / Shift</label>
                    </div>
                    <div class="col-sm-6">
                        <input id="Pps" type="number" class="form-control" />
                    </div>
                </div>


            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="Loh" class="control-label">Lot Duration</label>
                    </div>
                    <div class="col-sm-6">
                        <input id="Loh" type="number" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="Coc" class="control-label">C of C</label>
                    </div>
                    <div class="col-sm-2">
                        <input id="Coc" type="checkbox" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="Coa" class="control-label">C of A</label>
                    </div>
                    <div class="col-sm-2">
                        <input id="Coa" type="checkbox" class="form-control" />
                    </div>
                </div>

            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="Spc" class="control-label">SPC</label>
                    </div>
                    <div class="col-sm-2">
                        <input id="Spc" type="checkbox" class="form-control" />
                    </div>
                </div>


            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="Por" class="control-label">Positive Release</label>
                    </div>
                    <div class="col-sm-2">
                        <input id="Por" type="checkbox" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="Pa" class="control-label">Pallet</label>
                    </div>
                    <div class="col-sm-4">
                        <input id="Pa" type="text" class="form-control" />
                    </div>
                    <div class="col-sm-4">
                        <input id="Paq" type="number" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="Ca" class="control-label">Carton</label>
                    </div>
                    <div class="col-sm-4">
                        <input id="Ca" type="text" class="form-control" />
                    </div>
                    <div class="col-sm-4">
                        <input id="Caq" type="number" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="Cl" class="control-label">Carton Liner</label>
                    </div>
                    <div class="col-sm-4">
                        <input id="Cl" type="text" class="form-control" />
                    </div>
                    <div class="col-sm-4">
                        <input id="Clq" type="number" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="lb" class="control-label">Inner Bag</label>
                    </div>
                    <div class="col-sm-4">
                        <input id="lb" type="text" class="form-control" />
                    </div>
                    <div class="col-sm-4">
                        <input id="lbq" type="number" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    @section Scripts {
        <script>
            $(document).ready(function () {
                let TechnologyID = getCookie('TechnologyID');
                let Machine = getCookie('Machine');
                let LotID = getCookie('LotID');
                let Lot = getCookie('Lot');
                let MachineID = getCookie('MachineID');
                $("input").each(function () {
                    let n = $(this).attr("id");
                    let v = getCookie(n);
                    if ($(this).attr('type') == 'checkbox') {
                        $(this).prop('checked', v)
                    } else {
                        $(this).val(v);
                    }
                });

                if (TechnologyID != null && Machine != null && LotID != null) {
                    $.ajax({
                        type: "POST",
                        url: "/Home/GetTechnology",
                        success: function (response) {
                            if (response != 'Failed') {
                                var items = '<option>Select a Technology</option>';
                                $("#Technology").empty();
                                for (var i = 0; i < response.length; i++) {
                                    var em = response[i];
                                    if (TechnologyID == em.technologyId) {
                                        items += "<option value='" + em.technologyId + "' selected>" + em.technologyName + "</option>";
                                    } else {
                                        items += "<option value='" + em.technologyId + "'>" + em.technologyName + "</option>";
                                    }
                                }
                                $('#Technology').html(items);
                            }
                        }
                    }).done(function (data) {
                        $.ajax({
                            type: "POST",
                            url: "/Home/GetMachine",
                            data: { 'TechnologyID': TechnologyID },
                            success: function (response) {
                                if (response != 'Failed') {
                                    var items = '<option>Select a Machine</option>';
                                    $("#Machine").empty();
                                    for (var i = 0; i < response.length; i++) {
                                        var em = response[i];
                                        if (MachineID == em.machineId) {
                                            items += "<option value='" + em.machineId + "' selected>" + em.machineName + "</option>";
                                        } else {
                                            items += "<option value='" + em.machineId + "'>" + em.machineName + "</option>";
                                        }
                                    }
                                    $('#Machine').html(items);
                                }
                            }
                        });
                    }).done(function (data) {
                        $.ajax({
                            type: "POST",
                            url: "/Home/GetLot",
                            data: { 'Machine': Machine },
                            success: function (response) {
                                if (response != 'Failed') {
                                    var items = '<option>Select a Lot</option>';
                                    $("#Lot").empty();
                                    for (var i = 0; i < response.length; i++) {
                                        var em = response[i];
                                        if (LotID == em.lotId) {
                                            items += "<option value='" + em.lotId + "' selected>" + em.lotName + "</option>";
                                        } else {
                                            items += "<option value='" + em.lotId + "'>" + em.lotName + "</option>";
                                        }
                                    }
                                    $('#Lot').html(items);
                                    toastr.success("Success for Load");
                                }
                                else toastr.error(response);
                            }
                        });
                    });
                }
                $('#Technology').change(function () {
                    let TechnologyID = $('#Technology').val();
                    $.ajax({
                        type: "POST",
                        url: "/Home/GetMachine",
                        data: { 'TechnologyID': TechnologyID },
                        success: function (response) {
                            if (response != 'Failed') {
                                var items = '<option>Select a Machine</option>';
                                $("#Machine").empty();
                                for (var i = 0; i < response.length; i++) {
                                    var em = response[i];
                                    items += "<option value='" + em.machineId + "'>" + em.machineName + "</option>";
                                    setCookie('MachineID', response[0].machineId, 1);
                                    setCookie('Machine', response[0].machineName, 1);
                                }
                                $('#Machine').html(items);
                                $('#Lot').html('<option>Select a Lot</option>');
                                toastr.success("Success for Machine");
                            }
                            else toastr.error(response);
                        }
                    });
                });
                $('#Machine').change(function () {
                    let Machine = $('#Machine option:selected').text();
                    $.ajax({
                        type: "POST",
                        url: "/Home/GetLot",
                        data: { 'Machine': Machine },
                        success: function (response) {
                            if (response != 'Failed') {
                                var items = '<option>Select a Lot</option>';
                                $("#Lot").empty();
                                for (var i = 0; i < response.length; i++) {
                                    var em = response[i];
                                    items += "<option value='" + em.lotId + "'>" + em.lotName + "</option>";
                                    setCookie('LotID', response[0].lotId, 1);
                                    setCookie('Lot', response[0].lotName, 1);
                                }
                                $('#Lot').html(items);
                                toastr.success("Success for Lot");
                            }
                            else toastr.error(response);
                        }
                    });
                });

                $('select').change(function () {
                    var v = $(this).val();
                    var t = $(this).find("option:selected").text();
                    var id = $(this).attr('id');
                    setCookie(id + 'ID', v, 1);
                    setCookie(id, t, 1);
                    $('#ProductName').val('');
                    $('#Des').val('');
                    $('#Tol').val('');
                    $('#Cav').val('');
                    $('#Loq').val('');
                    $('#Cph').val('');
                    $('#Pps').val('');
                    $('#Loh').val('');
                    $('#P1').val('');
                    $('#P1q').val('');
                    $('#P2').val('');
                    $('#P2q').val('');
                    $('#Mb').val('');
                    $('#Mbq').val('');
                    $('#Sa').val('');
                    $('#Saq').val('');
                    $('#Pa').val('');
                    $('#Paq').val('');
                    $('#Ca').val('');
                    $('#Caq').val('');
                    $('#Cl').val('');
                    $('#Clq').val('');
                    $('#lb').val('');
                    $('#lbq').val('');

                    $('#Rtq').prop('checked', false);

                    $('#Fut').prop('checked', false);

                    $('#Sts').prop('checked', false);

                    $('#Ens').prop('checked', false);

                    $('#Coc').prop('checked', false);

                    $('#Coa').prop('checked', false);

                    $('#Spc').prop('checked', false);

                    $('#Por').prop('checked', false);

                    Technology = $('#Technology option:selected').text();
                    Machine = $('#Machine option:selected').text();
                    Lot = $('#Lot option:selected').text();
                    getQryLot(Technology, Machine, Lot);
                });
                //let TechnologyID = $("#Technology").val();
               
                $('input').change(function () {
                    let v = $(this).val();
                    let n = $(this).attr('id');
                    if ($(this).attr('type') == 'checkbox') {
                        if ($(this).prop('checked')) {
                            v = true;
                        } else {
                            v = false;
                        }
                    }
                    setCookie(n, v, 1);
                });
                $('input[type="checkbox"]').click(function () {
                    let v = $(this).val();
                    let n = $(this).attr('id');
                    if ($(this).prop('checked')) {
                        v = true;
                    } else {
                        v = false;
                    }
                    setCookie(n, v, 1);
                });
            });
            function getQryLot(Technology, Machine, Lot) {
                $.ajax({
                    type: "POST",
                    url: "/Home/QryLot",
                    data: { 'Technology': Technology, 'Machine': Machine, 'Lot': Lot },
                    success: function (response) {
                        if (response != 'Failed') {
                            $('#ProductName').val(response.productName);
                            $('#Des').val(response.des);
                            $('#Tol').val(response.tol);
                            $('#Cav').val(response.cav);
                            $('#Loq').val(response.loq);
                            $('#Cph').val(response.cph);
                            $('#Pps').val(response.pps);
                            $('#Loh').val(response.loh);
                            $('#P1').val(response.p1);
                            $('#P1q').val(response.p1q);
                            $('#P2').val(response.p2);
                            $('#P2q').val(response.p2q);
                            $('#Mb').val(response.mb);
                            $('#Mbq').val(response.mbq);
                            $('#Sa').val(response.sa);
                            $('#Saq').val(response.saq);
                            $('#Pa').val(response.pa);
                            $('#Paq').val(response.paq);
                            $('#Ca').val(response.ca);
                            $('#Caq').val(response.caq);
                            $('#Cl').val(response.cl);
                            $('#Clq').val(response.clq);
                            $('#lb').val(response.lb);
                            $('#lbq').val(response.lbq);
                            if (response.rtq) {
                                $('#Rtq').prop('checked', true);
                            } else {
                                $('#Rtq').prop('checked', false);
                            }
                            if (response.fut) {
                                $('#Fut').prop('checked', true);
                            } else {
                                $('#Fut').prop('checked', false);
                            }
                            if (response.sts) {
                                $('#Sts').prop('checked', true);
                            } else {
                                $('#Sts').prop('checked', false);
                            }
                            if (response.ens) {
                                $('#Ens').prop('checked', true);
                            } else {
                                $('#Ens').prop('checked', false);
                            }
                            if (response.coc) {
                                $('#Coc').prop('checked', true);
                            } else {
                                $('#Coc').prop('checked', false);
                            }
                            if (response.coa) {
                                $('#Coa').prop('checked', true);
                            } else {
                                $('#Coa').prop('checked', false);
                            }
                            if (response.spc) {
                                $('#Spc').prop('checked', true);
                            } else {
                                $('#Spc').prop('checked', false);
                            }
                            if (response.por) {
                                $('#Por').prop('checked', true);
                            } else {
                                $('#Por').prop('checked', false);
                            }
                            toastr.success('Success!');
                        } else {
                            toastr.error('There is no QryLot');
                        }
                    },
                    failure: function (response) {
                        toastr.error(response.responseText);
                    },
                    error: function (response) {
                        toastr.error(response.responseText);
                    }
                }).done(function () {
                    $('input').each(function () {
                        let v = $(this).val();
                        let n = $(this).attr('id');
                        if ($(this).attr('type') == 'checkbox') {
                            if ($(this).prop('checked')) {
                                v = true;
                            } else {
                                v = false;
                            }
                        }
                        setCookie(n, v, 1);
                    });
                });

            }
            timerDown('10:30', '/Account/Logout');
        </script>
    }
